@import './custom_variables';
@import '~bootstrap/scss/bootstrap';

// Typo
body {
  font-family: 'Montserrat', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

// General
body {
  background-color: $alabaster;
  // padding: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
